
body {
  font-family: sans-serif;
  background: #f0f8ff;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 600px;
  margin: auto;
  padding: 1em;
}
h1 {
  text-align: center;
}
#game-content {
  margin: 1em 0;
}
